body{background-color: #FFFFFF;
text: #666666;
font-family: verdana, Arial,sans-serif;}

header{background-color: #003058;
    text: #FFFFFF;
    font-family: georgia;}

header h1{
    line-height: 140%;
    padding: .5rem;
}